@model Ecommerce.Models.ProductOption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductOption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Option.OptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option.OptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionGroup.OptionGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionGroup.OptionGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionPriceIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionPriceIncrement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductOptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
